body {
    background-color: #f39c6b;
    background-image: url('record.png');
    background-repeat: repeat;
    color: #261447;
    margin: 0;
}

.head {
    background-color: #261447; 
    color: #cc978e;
    text-align: center;
}

.mainContent {
    background-color: #6e8894;
    padding: 1em;
}